#calendar{
    background: rgba(160,43,255,1);
    background: -moz-linear-gradient(left, rgba(160,43,255,1) 0%, rgba(158,57,210,1) 50%, rgba(158,57,210,1) 50%, rgba(156,70,165,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(160,43,255,1)), color-stop(50%, rgba(158,57,210,1)), color-stop(50%, rgba(158,57,210,1)), color-stop(100%, rgba(156,70,165,1)));
    background: -webkit-linear-gradient(left, rgba(160,43,255,1) 0%, rgba(158,57,210,1) 50%, rgba(158,57,210,1) 50%, rgba(156,70,165,1) 100%);
    background: -o-linear-gradient(left, rgba(160,43,255,1) 0%, rgba(158,57,210,1) 50%, rgba(158,57,210,1) 50%, rgba(156,70,165,1) 100%);
    background: -ms-linear-gradient(left, rgba(160,43,255,1) 0%, rgba(158,57,210,1) 50%, rgba(158,57,210,1) 50%, rgba(156,70,165,1) 100%);
    background: linear-gradient(to right, rgba(160,43,255,1) 0%, rgba(158,57,210,1) 50%, rgba(158,57,210,1) 50%, rgba(156,70,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a02bff', endColorstr='#9c46a5', GradientType=1 );
}