.dropdown-toggle:focus{
    background: none !important;
    border: none !important;
  }
  
  .dropdown .dropdown-toggle::after{
    display: none !important;
  }
  .dropdown button{
    background: none;
    border: none;
    font-size: 25px;
  }
  .dropdown-menu.show{
    background: #00000099 !important;
  }

  .dropdown-menu .dropdown-item{
    color: #ffffffb0;
    font-size: 18px;
  }
  .dropdown-menu .dropdown-item:hover{
    color: #ffffffb0;
    background: #0e282dbf;
  }
  #dropdown-menu,#dropdown-menu:hover{
    background: none !important;
    border: none !important;
  }