#notes{
    background: rgba(55,35,98,1);
    background: -moz-linear-gradient(left, rgba(55,35,98,1) 0%, rgba(67,39,106,1) 12%, rgba(115,55,138,1) 59%, rgba(157,69,166,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(55,35,98,1)), color-stop(12%, rgba(67,39,106,1)), color-stop(59%, rgba(115,55,138,1)), color-stop(100%, rgba(157,69,166,1)));
    background: -webkit-linear-gradient(left, rgba(55,35,98,1) 0%, rgba(67,39,106,1) 12%, rgba(115,55,138,1) 59%, rgba(157,69,166,1) 100%);
    background: -o-linear-gradient(left, rgba(55,35,98,1) 0%, rgba(67,39,106,1) 12%, rgba(115,55,138,1) 59%, rgba(157,69,166,1) 100%);
    background: -ms-linear-gradient(left, rgba(55,35,98,1) 0%, rgba(67,39,106,1) 12%, rgba(115,55,138,1) 59%, rgba(157,69,166,1) 100%);
    background: linear-gradient(to right, rgba(55,35,98,1) 0%, rgba(67,39,106,1) 12%, rgba(115,55,138,1) 59%, rgba(157,69,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372362', endColorstr='#9d45a6', GradientType=1 );
}