#task{
    background: rgba(190,175,237,1);
    background: -moz-linear-gradient(left, rgba(190,175,237,1) 0%, rgba(148,177,216,1) 41%, rgba(99,179,192,1) 88%, rgba(87,179,186,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(190,175,237,1)), color-stop(41%, rgba(148,177,216,1)), color-stop(88%, rgba(99,179,192,1)), color-stop(100%, rgba(87,179,186,1)));
    background: -webkit-linear-gradient(left, rgba(190,175,237,1) 0%, rgba(148,177,216,1) 41%, rgba(99,179,192,1) 88%, rgba(87,179,186,1) 100%);
    background: -o-linear-gradient(left, rgba(190,175,237,1) 0%, rgba(148,177,216,1) 41%, rgba(99,179,192,1) 88%, rgba(87,179,186,1) 100%);
    background: -ms-linear-gradient(left, rgba(190,175,237,1) 0%, rgba(148,177,216,1) 41%, rgba(99,179,192,1) 88%, rgba(87,179,186,1) 100%);
    background: linear-gradient(to right, rgba(190,175,237,1) 0%, rgba(148,177,216,1) 41%, rgba(99,179,192,1) 88%, rgba(87,179,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beafed', endColorstr='#57b3ba', GradientType=1 );
}