#user .user-picture{
    float: left;
    display: flex;
}
#user .user-name{
    display: flex;
    color: white;
    font-size: 13px;
    width: 100%;
    position: absolute;
    top: 22px;
    left: 70px;
    font-size: 18px;
}
#user .user-picture > img{
    border-radius: 50%;
    height: 50px;
    width: 50px !important;
}

#user #header{
    padding: 10px;
}