html,body,#root,.App,.carousel-root, .carousel.carousel-slider, .slider-wrapper,.slider, .slide, .slide>div{
  margin:0px;
  height:100%;
  }

.slide > div{
  display: flow-root;
}


/* CAROUSEL OVERRIDE */
.carousel .control-dots{
  padding: 0;
}
